$yellow: #fffa19;
$red: #e31048;
$green: #32a852;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}


.jumbotron{
    background-color: $yellow;
    color: $green;
    @include margenes(50px, 0px);
}
.foot-hoteles{
    @include padding(10px, 10px, 0, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 250px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.footer-icon{
    @include padding(0px, 0px, 0, 10px);
}