.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
.foot-hoteles{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 250px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.footer-icon{
    padding-right: 10px;
}