@yellow: #fffa19;
@red: #e31048;
@green: #32a852;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @bottom: 0px, @left: 0px, @right: 0px){
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}


.jumbotron{
    background-color: @yellow;
    color: @green;
    .margenes(50px, 0px);
}
.foot-hoteles{
    .paddings(10px, 10px, 0, 10px);
    background-color: @yellow;
    .margenes(10px, 0px);
}
.card-hotel{
    flex: 1 250px;
    .margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.footer-icon{
    .paddings(0px, 0px, 0, 10px);
}