.jumbotron {
  background-color: #fffa19;
  color: #32a852;
  margin-top: 50px;
  margin-bottom: 0px; }

.foot-hoteles {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px; }

.footer-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 10px; }
